/* index.css */


body.dark-mode {
  background-color: #0a0d14; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #19222d; /* Adjusted background color */
  color: #ffffff; /* Adjusted text color */
  min-height: 100vh;
}
